<div id="<%= dom_id donut_type %>">
  <p>
    <strong>Name:</strong>
    <%= donut_type.name %>
  </p>

  <p>
    <strong>Sold out until:</strong>
    <%= donut_type.sold_out_until %>
  </p>

  <p>
    <strong>Discontinued:</strong>
    <%= donut_type.discontinued %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= donut_type.price %>
  </p>

</div>
