<div id="<%= dom_id donut_topping %>">
  <p>
    <strong>Name:</strong>
    <%= donut_topping.name %>
  </p>

  <p>
    <strong>Sold out until:</strong>
    <%= donut_topping.sold_out_until %>
  </p>

  <p>
    <strong>Discontinued:</strong>
    <%= donut_topping.discontinued %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= donut_topping.price %>
  </p>

</div>
