<%= form_with(model: donut_topping) do |form| %>
  <% if donut_topping.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(donut_topping.errors.count, "error") %> prohibited this donut_topping from being saved:</h2>

      <ul>
        <% donut_topping.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :sold_out_until, style: "display: block" %>
    <%= form.date_field :sold_out_until %>
  </div>

  <div>
    <%= form.label :discontinued, style: "display: block" %>
    <%= form.check_box :discontinued %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
